<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Florena's Florist</title>
</head>
<body>
    <center>
        <a target="_blank" href="https://www.instagram.com/florena.florist/"><h1 style="color:greenyellow;">Florena Florist</h1></a>
        <h2>Landing Page</h2><br>
        <a href="/login" class="btn btn-primary">Login</a> <a href="/register" class="btn btn-primary">Register</a><br><br>
        <% if(error) { %><h6 style="color:Tomato">Please login first !!</h6><% } %>
    </center>
</body>
</html>